#home-section {
    background: url(../img/homebackground.jpg);
    background-position: 100% 100%;
    background-size: 110% 110%;
    background-attachment: scroll;
    min-height: 100vh;
    width: 100%;
    text-shadow: 1px 3px #8B4513;
}

.display-4 {
    text-shadow: 3px 3px black;
    font-size: 10vw;
    position: absolute;
    bottom: 10%;
  }

.display-5 {
    text-shadow: 1px 3px #8B4513;
    position: absolute;
    font-size: 3vw;
    bottom: 0%;
}